@import "../../dist/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "codeMirror";
@import "./codeMirror/theme/solarized";


body {
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
  font-size: 13px;
}

.dataInput {
  margin-top: 20px;
  min-height: 500px;
}
